.body {
    background-color: #fff!important;
}
.dark-bg {
    color: #fff;
    background-color: #590202!important;
}

#sidebar {
    background-color: #8C0303!important;
}


ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background-color: #590202!important;
}

ul.sidebar-menu ul.sub li {
    color: #8C0303!important;
    background-color: #fff!important;
}

ul.sidebar-menu li ul.sub li a {
    color: #8C0303!important;
}